.container {
	height: 100vh;
    	width: 100vw;
}

.img_item {
	width: 100%;
    	height: 100%;
    	margin: 0 auto;
    
    	background-image: url("/images/GAC_MAIN_TEXT_REAL-001.png");
    	background-repeat: no-repeat;
    	background-position: center center;
    	background-size: 100% 100%;
}